<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.skill">

    <application
        android:name="com.android.skill.PluginOneApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>

        <receiver android:name="com.android.skill.PluginReceiverOne"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.skill.plugin.test.static.braocastrecevier"/>
            </intent-filter>
            <meta-data android:name="oldAction" android:value="com.android.skill.braocastrecevier"/>
        </receiver>

        <receiver android:name="com.android.skill.PluginReceiverTwo"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.skill.plugin.test.static.braocastrecevier2"/>
            </intent-filter>
            <meta-data android:name="oldAction" android:value="com.android.skill.braocastrecevier2"/>
        </receiver>
    </application>

</manifest>