<?xml version="1.0" encoding="utf-8"?>
<manifest package="test.cn.example.com.androidskill"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="test.cn.example.com.androidskill.ChapterOneActivity"
                  android:screenOrientation="portrait"></activity>


        <activity android:name="test.cn.example.com.androidskill.LannchModeActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="test.cn.example.com.androidskill.LifeActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="test.cn.example.com.androidskill.DebugActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="test.cn.example.com.androidskill.ThreadPoolActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="test.cn.example.com.androidskill.callback.CallBackActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="test.cn.example.com.androidskill.SingleTaskActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait">
        </activity><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->

        <service android:name="test.cn.example.com.androidskill.service.MyService4"/>

        <activity android:name="test.cn.example.com.androidskill.ChapterNineActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name="test.cn.example.com.androidskill.ServiceWorkActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name="test.cn.example.com.androidskill.ChapterSevenActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name="test.cn.example.com.androidskill.ViewAnimationActivity"
            android:screenOrientation="portrait"></activity>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

    </application>

</manifest>