<?xml version="1.0" encoding="utf-8"?>
<manifest package="test.cn.example.com.androidskill"
          xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- 联网权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <!--开机广播-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <application
        android:name="test.cn.example.com.androidskill.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--<activity android:name=".MainActivity">-->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="test.cn.example.com.androidskill.ChapterOneActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="test.cn.example.com.androidskill.LannchModeActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="test.cn.example.com.androidskill.LifeActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="test.cn.example.com.androidskill.DebugActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="test.cn.example.com.androidskill.ThreadPoolActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="test.cn.example.com.androidskill.callback.CallBackActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="test.cn.example.com.androidskill.SingleTaskActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait">
        </activity><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->

        <service android:name="test.cn.example.com.androidskill.service.MyService4"/>

        <activity android:name="test.cn.example.com.androidskill.ChapterNineActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="test.cn.example.com.androidskill.ServiceWorkActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="test.cn.example.com.androidskill.ChapterSevenActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="test.cn.example.com.androidskill.ViewAnimationActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name="test.cn.example.com.androidskill.FrameAnimationActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="test.cn.example.com.androidskill.PropertyAnimationActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="test.cn.example.com.androidskill.ChapterTwoActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="test.cn.example.com.androidskill.HttpTestActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="test.cn.example.com.androidskill.AnnotationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="test.cn.example.com.androidskill.designpattern.DesignPatternActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="test.cn.example.com.androidskill.designpattern.ObserverPatternActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="test.cn.example.com.androidskill.designpattern.AdapterPatternActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="test.cn.example.com.androidskill.SingleTopActivity"
            android:launchMode="singleTop"
                  android:screenOrientation="portrait">
            <intent-filter >
                <action android:name="action.com.android.skill"></action>
                <category android:name="category.com.android.skill"></category>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>

        <activity android:name="test.cn.example.com.androidskill.designpattern.ProtoTypeActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="test.cn.example.com.androidskill.designpattern.FactoryPatternActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="test.cn.example.com.androidskill.login.view.LoginActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="test.cn.example.com.androidskill.designpattern.StrategyPatternActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="test.cn.example.com.androidskill.designpattern.ProxyPatternActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="test.cn.example.com.androidskill.designpattern.FacadePatternActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="test.cn.example.com.androidskill.designpattern.BuilderPatternActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="test.cn.example.com.androidskill.designpattern.DecoratorPatternActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="test.cn.example.com.androidskill.designpattern.CompositePatternActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="test.cn.example.com.androidskill.designpattern.StatePatternActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="test.cn.example.com.androidskill.designpattern.ChainPatternActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="test.cn.example.com.androidskill.designpattern.CommandPatternActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="test.cn.example.com.androidskill.designpattern.MediatorPatternActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="test.cn.example.com.androidskill.rxjavaTest.RxJavaTestActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="test.cn.example.com.androidskill.rxjavaTest.RxJavaOperatorConvert"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="test.cn.example.com.androidskill.ChapterFourActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="test.cn.example.com.androidskill.HandlerActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="test.cn.example.com.androidskill.ClassLoaderTestActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="test.cn.example.com.androidskill.designpattern.SingleInstancePatternActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="test.cn.example.com.androidskill.PropertyAnimationBaseActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="test.cn.example.com.androidskill.rxjavaTest.RxJavaOperatorCreate"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="test.cn.example.com.androidskill.rxjavaTest.RxJavaOperatorFilter"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="test.cn.example.com.androidskill.PropertyAnimationTypeEvaluatorActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="test.cn.example.com.androidskill.rxjavaTest.RxJavaOperatorCombine"
                  android:screenOrientation="portrait">
        </activity>

         <activity android:name="test.cn.example.com.androidskill.rxjavaTest.RxJavaOperatorAssist"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="test.cn.example.com.androidskill.PropertyAnimationInterpolatorActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="test.cn.example.com.androidskill.PropertyAnimationExerciseActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="test.cn.example.com.androidskill.IntEvaluatorActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="test.cn.example.com.androidskill.ViewPropertyAnimatorActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="test.cn.example.com.androidskill.TransZFBActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="test.cn.example.com.androidskill.ZFBAnimator2Activity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="test.cn.example.com.androidskill.PropertyAnimationLayoutTransitionActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="test.cn.example.com.androidskill.PropertyAnimationLayoutChangesActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="test.cn.example.com.androidskill.ExplodeActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="test.cn.example.com.androidskill.IndicatorActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="test.cn.example.com.androidskill.LoadingIndicatorActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="test.cn.example.com.androidskill.CircleViewActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="test.cn.example.com.androidskill.CustomTitleView01Activity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="test.cn.example.com.androidskill.CustomViewActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="test.cn.example.com.androidskill.CustomImageViewActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="test.cn.example.com.androidskill.CustomProgressBarActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="test.cn.example.com.androidskill.CustomActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="test.cn.example.com.androidskill.CustomViewActivity2"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="test.cn.example.com.androidskill.CustomVolumeControlBar"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="test.cn.example.com.androidskill.CustomContainerActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="test.cn.example.com.androidskill.CustomContainer2Activity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="test.cn.example.com.androidskill.CustomAttrActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="test.cn.example.com.androidskill.ViewDragHelperLayoutActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="test.cn.example.com.androidskill.QQListViewActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="test.cn.example.com.androidskill.ScrollActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="test.cn.example.com.androidskill.VerticalLinearLayoutActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="test.cn.example.com.androidskill.GestureLockViewActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="test.cn.example.com.androidskill.ArcMenuActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="test.cn.example.com.androidskill.FlowLayoutActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="test.cn.example.com.androidskill.ToolBarTestActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="test.cn.example.com.androidskill.ViewStubActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="test.cn.example.com.androidskill.RetrofitActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="test.cn.example.com.androidskill.DispatchEventActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="test.cn.example.com.androidskill.GreenDaoActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="test.cn.example.com.androidskill.PropertyChangeSupportActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="test.cn.example.com.androidskill.websocket.WebsocketActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="test.cn.example.com.androidskill.sqlite.SqliteActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="test.cn.example.com.androidskill.sqlite.ChatActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="test.cn.example.com.androidskill.sqlite.ContactActivity"
                  android:screenOrientation="portrait">
        </activity>

        <!--hencoder  start-->
        <activity
            android:name="test.cn.example.com.androidskill.view.defineView.hencoder.HenCoderPracticeActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".view.defineView.hencoder.practice_one.HenCoderPracticeDrawOneActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".view.defineView.hencoder.practice_two.HenCoderPracticeDrawTwoActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".view.defineView.hencoder.practice_three.HenCoderPracticeDrawThreeActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".view.defineView.hencoder.practice_four.HenCoderPracticeDrawFourActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".view.defineView.hencoder.practice_five.HenCoderPracticeDrawFiveActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".view.defineView.hencoder.practice_six.HenCoderPracticeSixActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".view.defineView.hencoder.practice_seven.HenCoderPracticeSevenActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".view.defineView.hencoder.practice_eight.HenCoderPracticeEightActivity"
            android:screenOrientation="portrait">
        </activity>
        <!--hencoder end-->

        <activity
            android:name="test.cn.example.com.androidskill.TestActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="test.cn.example.com.androidskill.changeSkin.ChangeSkinActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="test.cn.example.com.androidskill.my_eventbus.MyEventBusTestActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="test.cn.example.com.androidskill.my_eventbus.MyEventBusTestActivity2"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="test.cn.example.com.androidskill.aop.AspectJTestActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="test.cn.example.com.androidskill.livedatabus.LiveDataBusTestActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="test.cn.example.com.androidskill.livedatabus.LiveDataBusTestActivity2"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="test.cn.example.com.androidskill.rxjava2Test.RxJava2ActivityTest"
            android:screenOrientation="portrait">
        </activity>
       <activity
            android:name="test.cn.example.com.androidskill.myvolley.MyVolleyTestActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="test.cn.example.com.androidskill.leak.LeakTestActivity">
        </activity>

        <activity android:name=".ui.UIActivity"></activity>

        <activity android:name=".ui.compact.SwipeRefreshLayoutActivity"></activity>

        <activity android:name=".ui.compact.ListPopupWindowActivity"></activity>

        <activity android:name=".ui.compact.PopMenuActivity"
            android:theme="@style/PopupMenuStyle"></activity>

        <activity android:name=".ui.compact.LinerLayoutCompactActivity"></activity>
        <activity
            android:name="test.cn.example.com.androidskill.optimize.OptimizeActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="test.cn.example.com.androidskill.optimize.httpresponsecache.HttpResponseCacheActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="test.cn.example.com.androidskill.optimize.flatbuffer.FlatBufferActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="test.cn.example.com.androidskill.optimize.myhandler.MyHandlerTestActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="test.cn.example.com.androidskill.optimize.PicActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="test.cn.example.com.androidskill.optimize.process_keep.KeepProcessActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="test.cn.example.com.androidskill.optimize.service_keep.KeepLiveActivity"
            android:theme="@style/KeepLiveActivityStyle"
            android:screenOrientation="portrait"/>

        <activity android:name=".optimize.hotfix.HotFixActivity"
            android:screenOrientation="portrait"/>
        <service android:name=".optimize.service_keep.MyService"/>

        <activity android:name=".optimize.handler_thread.HandlerThreadActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".optimize.handler_thread.IntentServiceActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="test.cn.example.com.androidskill.optimize.splash.SplashActivityOptimize"
            android:screenOrientation="portrait">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->

                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>

        <service android:name=".optimize.handler_thread.MyIntentService"/>
        <service android:name=".optimize.service_keep.MyService"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.chen.cameraalbumtest.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>


        <service android:name="test.cn.example.com.androidskill.service.MyService"
                 android:process=":remote">
        </service>

        <service android:name="test.cn.example.com.androidskill.optimize.process_keep.LocalService" />

        <service android:name="test.cn.example.com.androidskill.optimize.process_keep.RemoteService"
            android:process=":remoteProcess"/>
        <service android:name=".optimize.process_keep.JobHandleService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <!--<service android:name="test.cn.example.com.androidskill.service.BookManagerService"-->
                 <!--android:process=":remote">-->
        <!--</service>-->

        <service android:name="test.cn.example.com.androidskill.service.BookManagerService">
            <!--<intent-filter>-->
                <!--<action android:name="com.android.skill.service.book_manager_service"></action>-->
            <!--</intent-filter>-->
        </service>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

    </application>

</manifest>